
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.video {
    width: 100%;
    max-width: 900px;
    aspect-ratio: 16/9;
    border-radius: 20px;
    overflow: hidden;
}

.video iframe {
    width: 100%;
    height: 100%;
}

/* TABELA */
.tabela {
    margin-top: 40px;
    border-collapse: collapse;
    width: 100%;
    max-width: 600px;
    background: white;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.tabela th {
    background-color: #111;
    color: white;
    padding: 15px;
}

.tabela td {
    padding: 12px;
    text-align: center;
}

.tabela tr:nth-child(even) {
    background-color: #f2f2f2;
}


h1 {
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

form {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

form input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 5px;
}

form input:focus {
    outline: none;
    border-color: #111;
}


form input[type="radio"] {
    width: auto;
    margin-right: 5px;
}


button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #111;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #444;
}